{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item">
    <article class="archive-item">
        <div style="font-size:18px">


            <!-- <small>  -->
              <!-- <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.date | date: " %Y.%m.%d &nbsp;&nbsp;&nbsp;" }} -->
              <!-- <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.last_modified_at | date:'%Y/%m/%d %R &nbsp;&nbsp;' }} -->
              <!-- <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.date | date:'%Y/%m/%d %R &nbsp;&nbsp;&nbsp;&nbsp;' }} -->
              <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.lastmod | date:'%Y-%m-%d %R &nbsp;&nbsp;'}}
              <!-- <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.lastmod }} -->
              <!-- <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.lastmod | date:'%F &nbsp;&nbsp;'}} -->
              <!-- <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.lastmod }} -->
              <!-- <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.path | file_date| date:'%Y/%m/%d %R &nbsp;&nbsp;&nbsp;&nbsp;'  }} -->

<!-- {% if page.last_modified_at %} -->
<!--   <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%Y/%m/%d %R &nbsp;&nbsp;&nbsp;&nbsp;" }}</time></p> -->
<!-- {% elsif page.date %} -->
<!--   <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p> -->
<!-- {% endif %} -->

              {% if site.category_archive.type and post.categories[0] and site.tag_archive.type and post.tags[0] %}
                {%- include post__taxonomy.html -%}
              {% endif %}
            <!-- </small> -->

            <span>
              <!-- <a href="{{ post.url }}" style="font-size:20px">{{post.title}}</a> -->
              <a href="{{ post.url }}">{{post.title}}</a>
            </span>
        </div>
      </article>
</div>
